who scores the best on par 3s?
who scores the best on par 4s?
who scores the best on par 5s?
correlation between driving accuracy and score?
correlation between GIR and score?

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [13]:
data = pd.read_csv('pga_tour_data_2015_2022.csv')
data.head()

,Player_initial_last,tournament id,player id,hole_par,strokes,hole_DKP,hole_FDP,hole_SDP,streak_DKP,streak_FDP,...,purse,season,no_cut,Finish,sg_putt,sg_arg,sg_app,sg_ott,sg_t2g,sg_total
0,A. Ancer,401353224,9261,288,289,60.0,51.1,56,3,7.6,...,12.0,2022,0,T32,0.20,-0.13,-0.08,0.86,0.65,0.85
1,A. Hadwin,401353224,5548,288,286,72.5,61.5,61,8,13.0,...,12.0,2022,0,T18,0.36,0.75,0.31,0.18,1.24,1.60
2,A. Lahiri,401353224,4989,144,147,21.5,17.4,27,0,0.0,...,12.0,2022,0,CUT,-0.56,0.74,-1.09,0.37,0.02,-0.54
3,A. Long,401353224,6015,144,151,20.5,13.6,17,0,0.4,...,12.0,2022,0,CUT,-1.46,-1.86,-0.02,0.80,-1.08,-2.54
4,A. Noren,401353224,3832,144,148,23.5,18.1,23,0,1.2,...,12.0,2022,0,CUT,0.53,-0.36,-1.39,0.19,-1.56,-1.04

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36864 entries, 0 to 36863
Data columns (total 37 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Player_initial_last  36864 non-null  object
 1   tournament id        36864 non-null  int64
 2   player id            36864 non-null  int64
 3   hole_par             36864 non-null  int64
 4   strokes              36864 non-null  int64
 5   hole_DKP             36864 non-null  float64
 6   hole_FDP             36864 non-null  float64
 7   hole_SDP             36864 non-null  int64
 8   streak_DKP           36864 non-null  int64
 9   streak_FDP           36864 non-null  float64
 10  streak_SDP           36864 non-null  int64
 11  n_rounds             36864 non-null  int64
 12  made_cut             36864 non-null  int64
 13  pos                  21317 non-null  float64
 14  finish_DKP           36864 non-null  int64
 15  finish_FDP           36864 non-null  int64
 16  finish_SDP           36864 non-null  int64
 17  total_DKP            36864 non-null  float64
 18  total_FDP            36864 non-null  float64
 19  total_SDP            36864 non-null  int64
 20  player               36864 non-null  object
 21  Unnamed: 2           0 non-null      float64
 22  Unnamed: 3           0 non-null      float64
 23  Unnamed: 4           0 non-null      float64
 24  tournament name      36864 non-null  object
 25  course               36864 non-null  object
 26  date                 36864 non-null  object
 27  purse                36864 non-null  float64
 28  season               36864 non-null  int64
 29  no_cut               36864 non-null  int64
 30  Finish               29181 non-null  object
 31  sg_putt              29180 non-null  float64
 32  sg_arg               29180 non-null  float64
 33  sg_app               29180 non-null  float64
 34  sg_ott               29180 non-null  float64
 35  sg_t2g               29180 non-null  float64
 36  sg_total             29181 non-null  float64
dtypes: float64(16), int64(15), object(6)
memory usage: 10.4+ MB

In [15]:
data.columns = [c.lower().replace(' ', '_') for c in golf_data.columns]

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36864 entries, 0 to 36863
Data columns (total 37 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   player_initial_last  36864 non-null  object
 1   tournament_id        36864 non-null  int64
 2   player_id            36864 non-null  int64
 3   hole_par             36864 non-null  int64
 4   strokes              36864 non-null  int64
 5   hole_dkp             36864 non-null  float64
 6   hole_fdp             36864 non-null  float64
 7   hole_sdp             36864 non-null  int64
 8   streak_dkp           36864 non-null  int64
 9   streak_fdp           36864 non-null  float64
 10  streak_sdp           36864 non-null  int64
 11  n_rounds             36864 non-null  int64
 12  made_cut             36864 non-null  int64
 13  pos                  21317 non-null  float64
 14  finish_dkp           36864 non-null  int64
 15  finish_fdp           36864 non-null  int64
 16  finish_sdp           36864 non-null  int64
 17  total_dkp            36864 non-null  float64
 18  total_fdp            36864 non-null  float64
 19  total_sdp            36864 non-null  int64
 20  player               36864 non-null  object
 21  unnamed:_2           0 non-null      float64
 22  unnamed:_3           0 non-null      float64
 23  unnamed:_4           0 non-null      float64
 24  tournament_name      36864 non-null  object
 25  course               36864 non-null  object
 26  date                 36864 non-null  object
 27  purse                36864 non-null  float64
 28  season               36864 non-null  int64
 29  no_cut               36864 non-null  int64
 30  finish               29181 non-null  object
 31  sg_putt              29180 non-null  float64
 32  sg_arg               29180 non-null  float64
 33  sg_app               29180 non-null  float64
 34  sg_ott               29180 non-null  float64
 35  sg_t2g               29180 non-null  float64
 36  sg_total             29181 non-null  float64
dtypes: float64(16), int64(15), object(6)
memory usage: 10.4+ MB

In [19]:
data.tournament_name.unique()

array(['The Memorial Tournament pres. by Nationwide',
       'Charles Schwab Challenge', 'PGA Championship',
       'AT&T Byron Nelson', 'Wells Fargo Championship', 'Mexico Open',
       'RBC Heritage', 'Masters Tournament', 'Valero Texas Open',
       'Corales Puntacana Resort & Club Championship',
       'Valspar Championship', 'The Players Championship',
       'Puerto Rico Open',
       'Arnold Palmer Invitational Pres. by Mastercard',
       'The Honda Classic', 'The Genesis Invitational',
       'Waste Management Phoenix Open', 'AT&T Pebble Beach Pro-Am',
       'Farmers Insurance Open', 'The American Express',
       'Sony Open in Hawaii', 'Sentry Tournament of Champions',
       'Hero World Challenge', 'The RSM Classic', 'Houston Open',
       'Mayakoba Golf Classic', 'Bermuda Championship',
       'The ZOZO Championship', 'The CJ Cup @ Summit',
       'Shriners Hospital for Children Open',
       'Sanderson Farms Championship', 'Fortinet Championship',
       'Tour Championship', 'BMW Championship', 'Northern Trust Open',
       'Wyndham Championship', 'WGC-FedEx St. Jude Classic', '3M Open',
       'The Open', 'Barbasol Championship', 'John Deere Classic',
       'Rocket Mortgage Classic', 'Travelers Championship', 'U.S. Open',
       'Palmetto Championship at Congaree', 'WGC-Workday Championship',
       'The CJ Cup @ Shadow Creek', 'Safeway Open', 'The Northern Trust',
       'Workday Charity Open', 'WGC-Mexico Championship',
       'WGC-HSBC Champions', 'The CJ Cup @ Nine Bridges',
       'A Military Tribute at The Greenbrier', 'RBC Canadian Open',
       'Genesis Open', 'Desert Classic', 'CIMB Classic',
       'Dell Technologies Championship', 'WGC-Bridgestone Invitational',
       'Quicken Loans National', 'FedEx St. Jude Classic',
       'Fort Worth Invitational',
       'World Golf Championships-Mexico Championship',
       'CareerBuilder Challenge', 'OHL Classic at Mayakoba',
       'World Golf Championships-HSBC Champions',
       'World Golf Championship-Bridgestone Invitational',
       'Dean & Deluca Invitational', 'Shell Houston Open',
       'SBS Tournament of Champions', 'Deutsche Bank Championship',
       'The Barclays', 'World Golf Championships - Cadillac Championship',
       'Hyundai Tournament of Champions', 'The Greenbrier Classic',
       'Crowne Plaza Invitation', 'Humana Chalenge',
       'The McGladrey Classic', 'Frys.com Open'], dtype=object)

In [20]:
masters = data.loc[data['tournament_name'] == 'Masters Tournament']

In [21]:
masters.head()

,player_initial_last,tournament_id,player_id,hole_par,strokes,hole_dkp,hole_fdp,hole_sdp,streak_dkp,streak_fdp,...,purse,season,no_cut,finish,sg_putt,sg_arg,sg_app,sg_ott,sg_t2g,sg_total
878,A. Ancer,401353232,9261,144,151,23.0,13.7,18,0,6.4,...,15.0,2022,0,CUT,2.72,-2.87,-1.39,0.25,-4.00,-1.28
879,A. Scott,401353232,388,288,302,43.5,28.4,38,0,1.2,...,15.0,2022,0,T48,-0.11,-0.63,-0.60,-0.31,-1.54,-1.65
880,B. DeChambeau,401353232,10046,144,156,12.0,1.8,12,0,0.2,...,15.0,2022,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
881,B. Harman,401353232,1225,144,149,27.0,18.5,22,0,0.4,...,15.0,2022,0,CUT,0.24,0.79,-1.07,-0.25,-0.52,-0.28
882,B. Horschel,401353232,1651,288,296,49.5,38.9,43,0,8.6,...,15.0,2022,0,43,0.06,-0.57,0.83,-0.46,-0.20,-0.14

In [25]:
masters.columns.tolist()

['player_initial_last',
 'tournament_id',
 'player_id',
 'hole_par',
 'strokes',
 'hole_dkp',
 'hole_fdp',
 'hole_sdp',
 'streak_dkp',
 'streak_fdp',
 'streak_sdp',
 'n_rounds',
 'made_cut',
 'pos',
 'finish_dkp',
 'finish_fdp',
 'finish_sdp',
 'total_dkp',
 'total_fdp',
 'total_sdp',
 'player',
 'unnamed:_2',
 'unnamed:_3',
 'unnamed:_4',
 'tournament_name',
 'course',
 'date',
 'purse',
 'season',
 'no_cut',
 'finish',
 'sg_putt',
 'sg_arg',
 'sg_app',
 'sg_ott',
 'sg_t2g',
 'sg_total']